/* Universal */
html {
	 height: 100%;
   width: 100%;	
}

body{
  padding-top: 50px;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
}

.title {
	margin: 10px 0 50px 0;
}


.center-content {
  margin-top: 15%;
  background-color: transparent; 
}

/* header */
#link {
	font-size: 30px;
	font-weight: bold;
	color: white;
	letter-spacing: 8px;
}

/* parallax */
#hobo, 
#hobbiesp,
#doingp{
	display: inline-block;
	position: relative;
	opacity: 0.65;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  text-shadow: -1px 0 black, 0 1.5px black, 1px 0 black, 0 -1px black;
}

#hobo {
	background-image: url("/assets/images/hb.jpg");
	
}

#hobbiesp {
  background-image: url("/assets/images/hb2.jpg");
}

#doingp {
  background-image: url("/assets/images/hb3.jpg");
}

/* who-is */
#who-is, 
#hobbies, 
#doing {
	padding: 50px 80px;
}

/* hobbies */
#hobbies {
	background-color: #282E34;
  color: #ddd;
}

.hobbie {
	margin-bottom: 30px;
}

/* doing */
#doing {
	background-color: #ddd;
	color: #282E34;
	padding-bottom: 0; 
}

.last {
	font-size: 50px;
	margin: 10px 0 50px 0;
}

.last-title {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: 8px;
}

/* footer */
#footer {
	background-color: #282E34;
	color:  #ddd;
	padding: 10px 0;
}

.text {
	margin-top: 20px;
}
